@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "FakePearl", "Yuanti TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    scrollbar-color: transparent transparent;
    @apply relative;
}

html,
body,
#app {
    @apply m-0 h-full w-full p-0;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: FakePearl;
    font-display: swap;
    src: url(/fonts/FakePearl-Regular.woff2) format("woff2"),
        url(/fonts/FakePearl-Regular.woff) format("woff");
}
